.active {
    font-weight: bold;
}
.box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
ul {
    display: flex;
}
li {
    list-style: none;
    word-spacing: 10px;
}